* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.container {
    height: 80vh;
    width: 70vw;
    position: relative;
    border: 3px solid rgb(34, 34, 34);
    border-radius: 10px;
    box-shadow: 0 0 3px black, inset 0 0 20px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    margin-top: 50px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 3px 5px 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.25s;
}

#score-container {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px 20px;
    border-radius: 5px;
    background: rgb(75, 75, 75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    opacity: 0.95;
}
#score-container span {
    font-family: sans-serif;
    padding-left: 5px;
}

@media screen and (max-width: 480px) {
    .circle {
        width: 80px;
        height: 80px;
    }
}
